<div>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control mb-2 w-100 comment-input" id="inlineFormInput"
             placeholder="{{'add.article.body.placeholder' | translate}}"
             (focus)="openModal(publishArticleModal)"
      >
    </div>
  </div>
  <div *ngIf="!articles?.length">
    <app-article [user]="user" [article]="preLoadedArticle"></app-article>
  </div>

  <ul style="padding: 0">
    <ng-container *ngIf="user">
      <div *ngFor="let article of articles">
        <app-article [user]="user" [article]="article"></app-article>
      </div>
    </ng-container>
  </ul>
</div>
<ng-template #publishArticleModal>
  <div class="modal-body">
    <app-publishing-form [user]="user" (onPublish)="closeModal()"></app-publishing-form>
  </div>
</ng-template>
