<form>
  <div class="form-group">
    <label for="messageTitleInput">Title</label>
    <input #newMessageTitle type="text" class="form-control" id="messageTitleInput" placeholder="Enter title">
    <small class="form-text text-muted">Shortly about your feelings</small>
  </div>
  <div class="form-group">
    <label for="messageBodyInput">Text</label>
    <div class="form-row">
      <textarea #newMessageBody class="form-control col-md-11" id="messageBodyInput" placeholder="What do you fill?"></textarea>
      <button (click)="publishMessage(newMessageTitle, newMessageBody)" class="btn btn-primary col-md-1" style="background-color: skyblue; border: 0 solid skyblue;">Send</button>
    </div>
  </div>
</form>
