<form>
  <div class="form-row">
    <div class="form-group col-md-2">
      <app-user-icon photoURL="{{user?.photoURL}}" [userId]="0" [classes]="'user-icon-css-lg p-0'"></app-user-icon>
    </div>
    <div class="form-group col-md-10">
      <input autofocus #newMessageTitle type="text" class="form-control" id="messageTitleInput" placeholder="Заголовок">
    </div>
  </div>

  <div *ngFor="let storyItem of storyItems">
    <app-story-item (onFileUploaded)="addImageStoryItem($event)" [storyItem]="storyItem"></app-story-item>
  </div>

  <!--<div class="form-group">-->
    <!--<ng-select  [multiple]="true"-->
                <!--[items]="items"-->
                <!--[disabled]="disabled"-->
                <!--(data)="refreshValue($event)"-->
                <!--(selected)="selected($event)"-->
                <!--(removed)="removed($event)"-->
                <!--placeholder="No city selected"></ng-select>-->
    <!--<pre>{{itemsToString(value)}}</pre>-->
  <!--</div>-->

  <div class="form-group">
    <button class="btn btn-lg btn-success w-100 mt-3"
            (click)="publishMessage(newMessageTitle)"> {{'add.article.button.caption'|translate}}
    </button>
  </div>

</form>
