.post-content-input-icons {
  color: black;
  opacity: .5;
  margin-bottom: 5px;
}

.post-content-input-icons:hover {
  opacity: 1;
}

.post-content-input:focus {
  box-shadow: none;
  border-color: #ced4da;
}

#upload_button input[type=file] {
  display: none;
}

.text-buttons-panel {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
