<div *ngIf="!storyItem.editMode">
  <span [innerHTML]="storyItem.data"></span>
</div>
<div *ngIf="storyItem.editMode" class="input-group">

  <fate-material class="form-control text-justify post-content-input"
                 [(ngModel)]="storyItem.data"
                 [placeholder]="'hello'"
                 (focus)="showEmojiPanel=false"></fate-material>
  <div class="input-group-append text-buttons-panel">
    <div class="btn input-group-text p-1"
         style="background-color:white;border: #FFFFFF none 0;align-items:flex-end">
        <span class="fa fa-smile-o post-content-input-icons"
              (click)="showEmojiPanel=true">
        </span>
    </div>
    <label id="upload_button"
           class="btn input-group-text p-1"
           style="background-color:white;border: #FFFFFF none 0;align-items:flex-end">
      <input type="file" (change)="uploadFiles($event)">
      <span class="fa fa-picture-o post-content-input-icons"></span>
    </label>
  </div>
</div>
<mat-progress-bar *ngIf="fileUploading" mode="indeterminate"></mat-progress-bar>
<emoji-mart [hidden]="!showEmojiPanel"
            title="Pick your emoji…"
            emoji=""
            set="messenger"
            [style]="{ position: 'absolute' }"
            [showPreview]="false"
            [include]="'recent,people'"
            (emojiClick)="emojiClicked($event)"
></emoji-mart>
