<div *ngIf="storyItem.data">
  <span>{{storyItem.data}}</span>
</div>
<div *ngIf="!storyItem.data" class="input-group mb-3">
  <span class="form-control text-justify post-content-input"
        contenteditable="true"
        style="border-right:none"
        #newMessageBody
        (input)="storyItem.editorText=$event.target.textContent"
        (focus)="showEmojiPanel=false">
  </span>
  <div class="input-group-append">
    <div class="btn input-group-text p-1"
         style="background-color:white;border-left: #FFFFFF none 0;align-items:flex-end">
        <span class="fa fa-smile-o post-content-input-icons"
              (click)="showEmojiPanel=true">
        </span>
    </div>
    <label id="upload_button"
           class="btn input-group-text p-1"
           style="background-color:white;border-left: #FFFFFF none 0;align-items:flex-end">
      <input type="file" (change)="uploadFiles($event)">
      <span class="fa fa-file-image-o post-content-input-icons"></span>
    </label>
  </div>
</div>
<mat-progress-bar *ngIf="fileUploading" mode="indeterminate"></mat-progress-bar>
