<div class="row ml-0">
  <app-emotion-button-container [classes]="'fa fa-thumbs-o-up'"
                                [emotions]="emotionable.likes"
                                [emotionSelected]="usedEmotion(emotionable.likes)"
                                (emotionClicked)="emotionClicked(emotionable.likes)"
                                [ngClass]="horizontal?'col-12':'col-auto'"
                                class="p-1"
  ></app-emotion-button-container>
  <app-emotion-button-container [classes]="'fa fa-thumbs-o-down'"
                                [emotions]="emotionable.dislikes"
                                [emotionSelected]="usedEmotion(emotionable.dislikes)"
                                (emotionClicked)="emotionClicked(emotionable.dislikes)"
                                [ngClass]="horizontal?'col-12':'col-auto'"
                                class="p-1"
  ></app-emotion-button-container>
  <app-emotion-button-container [classes]="'fa fa-smile-o'"
                                [emotions]="emotionable.laughs"
                                [emotionSelected]="usedEmotion(emotionable.laughs)"
                                (emotionClicked)="emotionClicked(emotionable.laughs)"
                                [ngClass]="horizontal?'col-12':'col-auto'"
                                class="p-1"
  ></app-emotion-button-container>
  <app-emotion-button-container [classes]="'fa fa-frown-o'"
                                [emotions]="emotionable.sadEmotions"
                                [emotionSelected]="usedEmotion(emotionable.sadEmotions)"
                                (emotionClicked)="emotionClicked(emotionable.sadEmotions)"
                                [ngClass]="horizontal?'col-12':'col-auto'"
                                class="p-1"
  ></app-emotion-button-container>
  <app-emotion-button-container [classes]="'fa fa-meh-o'"
                                [emotions]="emotionable.noEmotions"
                                [emotionSelected]="usedEmotion(emotionable.noEmotions)"
                                (emotionClicked)="emotionClicked(emotionable.noEmotions)"
                                [ngClass]="horizontal?'col-12':'col-auto'"
                                class="p-1"
  ></app-emotion-button-container>
</div>
