<div class="container-fluid" style="background-color: skyblue;">
  <nav class="navbar navbar-dark  justify-content-between">
    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">STINA</a>
    <!--<form class="form-inline">-->
    <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
    <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <div class="form-inline">
      <span style="font-size: x-small;">{{user?.displayName}}</span>
      <i class="fa fa-user-circle-o btn user-icon-light"></i>
      <app-language></app-language>
    </div>
    <!--</form>-->
  </nav>
</div>
