.user-icon {
  width: 32px;
  height: 32px;
  margin-left: 5px;
}

.user-icon:hover {
  cursor: pointer;
  -webkit-box-shadow: -4px 79px 73px -63px rgba(0,0,0,0.42);
  -moz-box-shadow: -4px 79px 73px -63px rgba(0,0,0,0.42);
  box-shadow: -4px 79px 73px -63px rgba(0,0,0,0.42);
}
