<div class="dropdown show " style="font-size: xx-small">
  <div class="btn dropdown-toggle language-box" id="dropdownMenuLink" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
    <span class="language-box-item-title ">{{selectedLanguageKey}}</span>
    <img class="language-country-flag"
         src="{{languages[selectedLanguageKey]}}"/>
  </div>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <ng-container *ngFor="let key of languageKeys">
      <div class="dropdown-item language-box-item" (click)="changeLanguage(key)">
        <span class="language-box-item-title">{{key}}</span><img class="language-country-flag"
                                                                 src="{{languages[key]}}"/>
      </div>
    </ng-container>
  </div>
</div>
