<div class="row">
  <div class="col-11 comments-container">
    <div class="row">
      <div class="col">
        <ng-container *ngFor="let comment of comments" class="list-group">
          <app-comment [comment]="comment" [user]="user" class="row list-group-item p-0 comment-item"></app-comment>
          <hr class="divider" style="margin-bottom:2px;margin-top: 2px;"/>
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="align-items-center col">
        <div class="row">
          <div class="col-auto">
            <app-user-icon photoURL="{{user?.photoURL}}" [userId]="0"
                           [classes]="'user-icon-css-md p-1'"></app-user-icon>
          </div>
          <div class="col">
            <mat-form-field class="w-100">
              <input matInput type="text" class="mb-2 w-100" id="inlineFormInput"
                     placeholder="{{'comment.form.input.placaholder.caption' | translate}}"
                     #commentText>
            </mat-form-field>
          </div>
          <div class="col-auto">
            <span class="btn fa fa-paper-plane" (click)="addComment(commentText)"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
