<div class="background-container"></div>
<ng-container *ngIf="user?.isAnonymous">
  <app-sign-up-form [user]="user"></app-sign-up-form>
</ng-container>
<ng-container *ngIf="user?.emailVerified">
  <form>
    <div class="form-group row">
      <label for="displayName" class="col-sm-3 col-form-label">Username</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="displayName" placeholder="Type desired user name here"
               value="{{user?.displayName}}">
      </div>
    </div>

    <div class="form-group row">
      <label for="email" class="col-sm-3 col-form-label">Username</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="email"
               value="{{user?.email}}" disabled>
      </div>
    </div>


  </form>
</ng-container>
