.article-emotion-btn {
  margin-bottom: 2px;
}

.article-emotion-btn:hover {
  font-size: 25px;
  color: skyblue;
  cursor: pointer;
}

.article-emotion-btn-clicked {
  font-size: 25px;
  color: skyblue;
  cursor: pointer;
}

.article-emotion-btn-container {
  padding: 3px;
}

.user-icon {
  width: 25px;
  height: 25px;
}
