<div class="container-fluid">
  <div class="row">
    <div class="col-md-11 list-group-item" style="background-color: rgba(0,0,0,0)">
      <h5 class="card-title">{{article.title}}</h5>
      <p class="card-text">{{article.body}}</p>
      <span>{{article.timestamp | date:'medium'}}</span><br>
    </div>
    <div class="col-1 p-0 m-0">
      <div class="d-flex flex-column p-0 m-0">
        <div class="article-emotion-btn-container">
          <span class="fa fa-thumbs-o-up article-emotion-btn" (click)="like()"></span>
          {{article.likes}}
        </div>
        <div class="article-emotion-btn-container">
          <span class="fa fa-thumbs-down article-emotion-btn" (click)="dislike()"></span>
          {{article.dislikes}}
        </div>
        <div class="article-emotion-btn-container">
          <span class="fa fa fa-smile-o article-emotion-btn" (click)="laught()"></span>
          {{article.laughts}}
        </div>
      </div>
    </div>
  </div>
</div>
