<div class="container-fluid">

  <div class="row">
    <div class="col-md-11 list-group-item" style="background-color: rgba(0,0,0,0)">
      <div class="row">
        <img class="user-icon" src="{{user?.photoURL}}">
        <span style="color: #616770; font-size:12px;">{{article.timestamp | date: dateFormat}}</span><br>
      </div>
      <h5 class="card-title">{{article.title}}</h5>
      <p class="card-text">{{article.body}}</p>
      <app-article-footer (showCommentsEvent)="showComments()"></app-article-footer>
    </div>
    <div class="col-1 p-0 m-0">
      <div class="d-flex flex-column p-0 m-0">
        <div class="article-emotion-btn-container">
          <span class="fa fa-thumbs-o-up article-emotion-btn"
                [ngClass]="{'article-emotion-btn-clicked':userLiked}"
                (click)="like()"
          ></span>
          {{article.likes.length}}
        </div>
        <div class="article-emotion-btn-container">
          <span class="fa fa-thumbs-o-down article-emotion-btn"
                [ngClass]="{'article-emotion-btn-clicked':userDisliked}"
                (click)="dislike()"
          ></span>
          {{article.dislikes.length}}
        </div>
        <div class="article-emotion-btn-container">
          <span class="fa fa fa-smile-o article-emotion-btn"
                [ngClass]="{'article-emotion-btn-clicked':userLaughed}"
                (click)="laugh()"
          ></span>
          {{article.laughs.length}}
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="commentsVisible">
    <app-comments-container [articleId]="article?.id" [user]="user"></app-comments-container>
  </ng-container>
</div>
