.comments-container {
}
.comment-user-icon {
  width: 32px;
  height: 32px;
}
.comment-item {
  border: 0px;
  margin-bottom: 0px;
  margin-top: 4px;
}

.comment-input {
  border-radius: 81px 81px 81px 81px;
  -moz-border-radius: 81px 81px 81px 81px;
  -webkit-border-radius: 81px 81px 81px 81px;
  border: 0px solid #000000;
}
