<div class="col">
  <div class="row">
    <div class="col-auto">
      <app-user-icon [photoURL]="comment?.author?.photoURL"
                     [userId]="comment?.author?.uid"
                     [userEmailVerified]="user?.emailVerified"
                     [classes]="'user-icon-css-sm p-1'"></app-user-icon>
    </div>
    <div class="col">
      <div class="row">
        <span class="username-span">{{comment.author.displayName}}</span>
        <span class="comment-span">{{comment.content}}</span>
      </div>
      <div class="row" style="font-size: 12px">
        <div class="col-auto">
                  <span class="p-1">
        {{comment.timestamp | timeAgo: translate.currentLang}}
        </span>
        </div>
        <div class="col-auto">
                  <span class="btn btn-sm btn-link" style="font-size: 12px">
          {{'article.comment.reply.caption' | translate}}
        </span>
        </div>
        <div class="col-auto">
          <app-emotions-panel [comment]="comment" [user]="user"></app-emotions-panel>
        </div>
      </div>

    </div>
  </div>
</div>
