<div class="container">
  <div class="form-group row">
    <button type="submit"
            class="form-control btn btn-success"
            [routerLink]="['users/0']">{{'sign.in.caption' | translate}}
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </button>
  </div>
  <div class="form-group row">
    <div style="width: 100%; height: 14px; border-bottom: 1px solid #666; text-align: center">
  <span style="background-color: #FFFFFF; padding: 0 10px;color: #666;">
    {{'or.sign.in.via' | translate}}
  </span>
    </div>
  </div>
  <div class="form-group row">
    <ngx-auth-firebaseui-providers class="w-100"
                                   [theme]="themes.MINI_FAB"></ngx-auth-firebaseui-providers>
  </div>
</div>
